.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  margin-right: 1rem;
}

.product-info {
  width: 70%;
}

.product-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.product-description,
.advantages {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.advantages li {
  margin-bottom: 1rem;
}
